<%- include("partials/header2") %>
<div class="container my-5 ">
    <div class="bg-light p-5 rounded warning-container">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal" style="color: red ;">An Unexpected Error Has Occured</h1>
        <p>Please check if you input your data correctly</p>
        <p>
          <a class="btn btn-danger return-btn" href="/" role="button">Return Back</a>
        </p>
    </div>
    </div>
  </div>
<%- include("partials/footer") %>
