/* * {
    border: solid white 1px
} */

/* Logo and Navigation */
body {
    padding: 0px 8px;
    background-color: #2C3333;
    font-family: "Ubuntu", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }

.logo {
    font-family: "Alfa Slab One", serif;
    font-size: 24px;
    display: inline;
    color: #F1F1F1;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 0;
}

.bi-list {
    display: inline;
    font-size: 24px;
    height: 13;
    color: #F1F1F1;
}

p {
    padding-top: 0;
    margin: 0;

}

.offcanvas {
    background-color: #3F4E4F;
    color: #F1F1F1;
}

/* Carousel */
.carousel {
    padding: 0;
    margin: 0px 0px 32px ;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image_head {
    width: 100%;
    height: 162px;
    object-fit: cover;
    image-resolution: from-image 300dpi;

}

.header-1 {
    background-color: red;
    background-image: url("../Images/jobless_reincarnation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.header-2 {
    background-color: red;
    background-image: url("../Images/mobusekai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.header-3 {
    background-color: red;
    background-image: url("../Images/reincarnated_as_sword.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.input-name {
    color: #F1F1F1;
    margin-bottom: 8px;
}


/* Content Books */
 .category-name {
    color: #F1F1F1;
    font-family: "Ubuntu", sans-serif;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
    font-size: 24px;
}


.entry-image {
    width: 100%;
    height: 100%;
    padding: 8px;
    margin: auto;
    opacity: 1 !important;
    height: 220px;
}

.book{
    background-color: #3F4E4F;
    border: #F1F1F1 1px solid;
    margin: 16px;
    transition: all 0.3s;
}

.book-data {
    padding: 0 8px 0;
    font-family: "Ubuntu", sans-serif;
    color: #F1F1F1;
    margin-bottom: 8px;
}

.card{
    min-height: 200px;
    min-width: 150px;
}

.card-title {
    font-size: 18px;
}

.card-volume {
    font-size: 10px;
}

.book:hover {
    scale: 105%;
    cursor: pointer;
}

/* Genres */
.box {
    margin: 8px;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 52px;
    background: #2C3333;
    box-shadow: inset -21px -21px 43px #222828,
                inset 21px 21px 43px #363e3e;
    width: 90%;
}

.genre-text {
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genre-container {
    position: flex;
    justify-content: center;
}

.box:hover {
    scale: 105%;
}


/* Navigation Panel */
ul {
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    padding: 8px 4px;
    list-style: none;
    font-size: 16px;
    border-top:#F1F1F1 2px solid ;
}

li:hover {
    cursor: pointer;
}

.btn-close {
    background-color: #F1F1F1;
}

a {
    color: inherit;
    text-decoration: none;
}

li:hover{
    background-color: #2C3333;
    color: #3F4E4F;
}


/* Form Component */
.form-container {
    padding: 24px 24px;
    border-radius: 8px;
}

.container-data {
    display: inline-block;
    margin-left: 16px;
}

.user-input{
    background-color: #E2DCC8;
}

.hide-input{
    visibility: hidden;
}

.button-upload {
    border: #F1F1F1 2px solid;
    padding: 4px 16px;
    color: #F1F1F1;
}

/* Items */
.cover-photo-container {
    padding: 16px 0;
}

.cover-photo {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    max-height: 450px;
}

a:hover{
    color: inherit;
}

/* Metadata  */
.metadata-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    color: #F1F1F1;
}

.meta-name {
    font-weight: bolder;
}

.item-title {
    font-weight: bold;
}

.download-button {
    margin-top: 8px;
    width: 100%;
    border: #F1F1F1 2px solid;
    padding: 4px 16px;
    background-color: #2C3333;
    color: #F1F1F1;
    font-size: 8px;
}

button:hover {
    scale: 105%;
}

.description{
    color: #F1F1F1;
}

.submit-btn{
    margin-top: 16px;
    border-color: #E2DCC8;
    color: #E2DCC8;
    width: 100%;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active, .submit-btn:visited{
    border-color: #E2DCC8;
    background-color: #E2DCC8;
    color: #2C3333;
    
}

.hide-if-small{
    display: none;
}

/* Landing Page */
.landing-page{
    padding: 32px 0;
    color: #F1F1F1;
    font-weight: 400;
}

.landing-photo{
    width: 100%;
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
}

.border{
    border: 1px solid white;
}


.catchphrase{
    font-family: 'Alfa Slab One', serif;
    font-size: 24px;
}

.start-btn{
    margin-top: 16px;
    width: 100%;
}

.box2{
    border: 2px solid #F1F1F1;
    width: 300px;
    height: 300px;
    margin: 16px 8px;
    border-radius: 8px;
    color: #F1F1F1;
}

.feature-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 32px 0;
    justify-content: space-evenly;
    text-align: center;
}

.feature-image{
    overflow-block:inherit;
    width: auto;
    position: relative;
    top: -70px; 
}

.features{
    margin-top: 24px;
}

/* Log-in */
.account-page-container{
    position: absolute;
    top: 32px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #E2DCC8;
    border-radius: 16px;
    padding: 8px 16px;
    font-family: "Ubunty", sans-serif;
    width: 90%;
    z-index: 1;
}

.login-page, .signup-page{
    visibility: hidden;
}

.account-page-container i{
    font-size: 24px;
}

.login-color{
    color: #2C3333;
    font-weight: 400;
    font-weight: bolder;
    font-size: 24px;
}

.login-info{
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0;
}

.input-text{
    color: #668888;
}

.line{
    display: inline-block;
    border-top: #222828 solid 1px;
    width: 50%;
    margin: 0 8px;
}

.separator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.icon-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.bi-facebook, .bi-google{
    font-size: 32px;
    margin: 0 16px;
    transition: all 0.4s;
}

.bi-facebook:hover, .bi-google:hover{
    font-size: 40px;
}

.login-button{
    width: 100%;
    margin: 8px 0;
    color: #F1F1F1;
    background-color: #3F4E4F;
}

.account-notice{
    font-size: 12px;
    margin: 16px 0;
}

.switch{
    text-decoration: underline;
    cursor:pointer;
}

.bi-x{
    font-size: 32px;
}

.profile-picture{
    width: 200px;
    height: 200px;
    image-rendering: -webkit-optimize-contrast
}

.center-container{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    color: #F1F1F1;
}

.horizontal-collection{
    border: #F1F1F1 solid 0.5px;
    display: flex;
    flex: row;
    padding: 16px;
    margin-top: 16px;
    background-color: #3F4E4F;
}

.horizontal-thumbnail{
    max-height: 230px;
    min-width: 160px;
    max-width: 170px;
    height: 100%;
    border-radius: 8px;
}

.horizontal-text-container{
    padding-left: 16px;
    color: #F1F1F1;
    width: 100%;
}

.meta-horizontal{
    font-size: 16px;
    padding-top: 8px;
}

.horizontal-controls{
    color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-icon{
    font-size: 24px;
}

.yes-no-container{
    display: flex;
    justify-content: space-between;
}

.confirmation{
    padding-top: 16px;
    width: 300px;
    opacity: 0;
    /* visibility: hidden; */
    position: fixed;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

.bi-check-square-fill{
    color: rgb(6, 85, 6);
}

.bi-x-square-fill{
    color: rgb(139, 4, 4);
}

.search-bar{
    margin: 16px 16px;
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #E2DCC8;
}

.search-input{
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searched-image{
    margin: 8px auto;
    max-height: 250px;
    width: 90%;
}

.pagination-container{
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.pagination-number{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: #222828 solid 0.5px;
    background-color: #222828;
    margin-left: 4px;
    cursor: pointer;
}

.controller{
    width: auto;
    padding: 4px;
}

.pagination-number:hover{
    scale: 110%;
    transform: rotate(15deg);
    transition-duration: 0.2s;
    /* border: #E2DCC8 solid; */
}

.pagination-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination-container ul li{
    border: none;
    width: fit-content;
}

.hidden{
    visibility: hidden;
    width: 0;
}

.button-active{
    background-color: #E2DCC8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #222828;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.change-profile-container {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.change-profile-btn {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22282866;
    scale: 110%;

}

.warning-container {
    margin: auto;
    background-color: #E2DCC8 !important;
}

.return-btn {
    margin-top: 16px;
}

.warning-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-input {
    width: 90%;
    display: inline;
    background-color: #22282877;
    color: #F1F1F1;
}

.comment-input:focus {
    background-color: #2C3333;
    color: #F1F1F1;
    outline-color: #E2DCC8;
}

.comment-section .comment-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F1F1F1;
}

.comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
}

.send-comment {
    margin: 8px;
}

.prev-comment {
    margin-top: 32px;
}

footer {
    height: 100px;
}

.name-time {
    display: flex;
}

.name-time p {
    margin-left: 16px;
}

@media (min-width: 481px) {
    .image_head {
        height: 300px;
    }

    li {
        font-size: 16px;
    }

    .hide-if-large{
        display: inherit;
    }
    .category-name{
        margin-top: 18px;
    }
}

@media (min-width: 670px) {

    .download-button{
        font-size: 16px;
    }

    .account-page-container{
        max-width: 600px;
    }

    .account-page-container i{
        font-size: 32px;
    }

    .login-info{
        font-size: 24px;
    }

    .login-color{
        font-size: 32px;
    }

    .account-page-container{
        padding: 8px 40px;
    }

    .logo{
        font-size:40px;
    }

    h1 {
        font-size: 32px;
    }

    .bi-list {
        font-size: 24px;
    }
    .image_head {
        max-height: 400px;
        image-rendering: optimizeQuality;
    }
    .genre {
        font-size: 42px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-volume {
        font-size: 12px;
    }
    
    .entry-image {
        width: 100%;
        height: 220px;
    }

    .meta-value, .item-title {
        margin: 4px;
    }

    .meta-value {
        font-size: 16px;
    }

    .item-title {
        font-size: 32px;
    }

    .hide-if-large{
        display: none;
    }

    .hide-if-small{
        display: inline;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1025px) {

    .entry-image{
        height: 260px;
    }

    .image_head {
        height: 900px;
        max-width: 1200px;
        image-rendering: optimizeQuality;
    }
    
    html {
        padding: 0 32px;
        max-width: 1300px;
        margin: auto;
    }

    .box {
        width: 200px;
        height: 200px;
        
    }

    body {
        /* border: #3F4E4F solid 2px; */
        padding: 0 32px;
        border-radius: 8px;
    }

    .genre {
        height: 300px;
        font-size: 42px;
        display: flex;
        vertical-align: middle;
        align-items: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}