/* * {
    border: solid white 1px
} */

:root {
    --main: #2C3333;
    --second: #3F4E4F;
    --light: #F1F1F1;
    --ubuntu: "Ubuntu", sans-serif;
} 


/* Logo and Navigation */
body {
    padding: 0px 8px;
    background-color: var(--main);
    font-family: "Ubuntu", sans-serif;
}


.logo {
    font-family: "Alfa Slab One", serif;
    font-size: 24px;
    display: inline;
    color: var(--light);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}

.bi-list {
    display: inline;
    width: 20;
    height: 13;
    color: var(--light);
}

p {
    padding-top: 0;
    margin: 0;

}

.offcanvas {
    background-color: var(--second);
    color: var(--light);
}

/* Carousel */
.carousel {
    padding: 0;
    margin: 4px 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image_head {
    width: 100%;
    height: 162px;
    object-fit: cover;
    image-resolution: from-image 300dpi;

}

.header-1 {
    background-color: red;
    background-image: url("../Images/jobless_reincarnation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.header-2 {
    background-color: red;
    background-image: url("../Images/mobusekai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.header-3 {
    background-color: red;
    background-image: url("../Images/reincarnated_as_sword.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.input-name {
    color: #F1F1F1;
    margin-bottom: 8px;
}


/* Content Books */
 .category-name {
    color: var(--light);
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 32px;
}


.entry-image {
    width: 100%;
    height: 100%;
    padding: 8px;
    margin: auto;
    opacity: 1 !important;
}

.book{
    background-color: #3F4E4F;
    border: var(--light) 1px solid;
    margin: 16px;
    transition: all 0.3s;
}

.book-data {
    padding: 0 8px 0;
    font-family: "Ubuntu", sans-serif;
    color: #F1F1F1;
    margin-bottom: 8px;
}

.card-title {
    font-size: 16px;
}

.card-volume {
    font-size: 8px;
}

.book:hover {
    scale: 105%;
    cursor: pointer;
}

/* Genres */
.box {
    margin: 8px;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 52px;
    background: #2C3333;
    box-shadow: inset -21px -21px 43px #222828,
                inset 21px 21px 43px #363e3e;
    width: 90%;
}

.genre-text {
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genre-container {
    position: flex;
    justify-content: center;
}

.box:hover {
    scale: 105%;
}


/* Navigation Panel */
ul {
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    padding: 8px 4px;
    list-style: none;
    font-size: 24px;
    border-top:#F1F1F1 2px solid ;
}

li:hover {
    cursor: pointer;
}

.btn-close {
    background-color: #F1F1F1;
}

a {
    color: #F1F1F1;
    text-decoration: none;
}

li:hover{
    background-color: #2C3333;
    color: #3F4E4F;
}


/* Form Component */
.form-container {
    border: #3F4E4F 1px solid;
    padding: 8px 24px;
    border-radius: 8px;
}

.container-data {
    display: inline-block;
    margin-left: 16px;
}

.user-input{
    background-color: #E2DCC8;
}

.hide-input{
    opacity: 0;
    visibility: hidden;
}

.button-upload {
    border: #F1F1F1 2px solid;
    padding: 4px 16px;
    color: #F1F1F1;
}

/* Items */
.cover-photo-container {
    padding: 16px 0;
}

.cover-photo {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    max-height: 450px;
}

a:hover{
    color: inherit;
}

/* Metadata  */
.metadata-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    color: #F1F1F1;
}

.meta-name {
    font-weight: bolder;
}

.download-button {
    margin-top: 8px;
    width: 100%;
    border: #F1F1F1 2px solid;
    padding: 4px 16px;
    background-color: #2C3333;
    color: #F1F1F1;
}

button:hover {
    scale: 105%;
}

.description{
    color: #F1F1F1;
}

.submit-btn{
    margin-top: 16px;
    border-color: #E2DCC8;
    color: #E2DCC8;
    width: 100%;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active, .submit-btn:visited{
    border-color: #E2DCC8;
    background-color: #E2DCC8;
    color: #2C3333;
    
}

.hide-if-small{
    display: none;
}



@media (min-width: 481px) {
    .image_head {
        height: 300px;
    }

    li {
        font-size: 16px;
    }

    .hide-if-large{
        display: inherit;
    }


}

@media (min-width: 670px) {
    .logo {
        font-size: 52px;
    }

    h1 {
        font-size: 32px;
    }

    .bi {
        font-size: 32px;
    }
    .image_head {
        max-height: 400px;
        image-rendering: optimizeQuality;
    }
    .genre {
        font-size: 42px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-volume {
        font-size: 12px;
    }
    
    .entry-image {
        width: 100%;
        height: auto;
    }

    .meta-value, .item-title {
        margin: 4px;
    }

    .meta-value {
        font-size: 16px;
    }

    .item-title {
        font-size: 32px;
    }

    .hide-if-large{
        display: none;
    }

    .hide-if-small{
        display: inline;
    }

}

@media (min-width: 1025px) {

    .image_head {
        height: 900px;
        max-width: 1200px;
        image-rendering: optimizeQuality;
    }
    html {
        padding: 0 32px;
        max-width: 1200px;
        margin: auto;
    }

    .box {
        width: 200px;
        height: 200px;
        
    }

    body {
        border: #3F4E4F solid 2px;
        padding: 0 32px;
    }

    .genre {
        height: 300px;
        font-size: 42px;
        display: flex;
        vertical-align: middle;
        align-items: center;
    }

    .meta-value {
        font-size: 20px;
    }


}